{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="text-center justify-center h3">Le forum pour les amoureux de la guitare et du métal</h1>
{% endblock %}
