{% if (topic.user == app.user or is_granted('ROLE_ADMIN')) and topic.state == 'OPENED' %}
    <a class="text-warning" style="text-decoration:none;" data-bs-toggle="modal" data-bs-target="#closeTopic{{topic.id}}">
        <b>Cl么turer le sujet</b>
    </a>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="closeTopic{{topic.id}}" tabindex="-1" role="dialog" aria-labelledby="closeTopicLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="closeTopicLabel">Cl么turer un sujet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous cl么turer le sujet "{{ topic.title }}" ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ path('topic_close', {'id': topic.id}) }}" class="btn btn-warning">Cl么turer le sujet</a>
            </div>
        </div>
    </div>
</div>